In [1]:
from numpy import random
print(random.randint(1,100))#random no from 1 to 100

print(random.rand())#0  to  1

16
0.7406061518843452

In [3]:
random.randint(100,size=(3))
random.randint(100,size=(3,4))
random.randint(100,size=(3,4,2))

array([[[79, 79],
        [86, 17],
        [39, 80],
        [ 3, 90]],

       [[65, 83],
        [25, 50],
        [46, 62],
        [52, 79]],

       [[91, 78],
        [61,  9],
        [10, 81],
        [71, 35]]])

In [8]:
random.randint(100,size=(2,2)).ravel()

array([24,  7, 86, 71])

In [ ]:
random.rand((3))
random.rand((3,4))

In [ ]:
random.chocie(a)

In [5]:
random.choice([1,2,3,4,5]).

TypeError: 'tuple' object cannot be interpreted as an integer

In [9]:
import pandas as pd
import numpy as np
dict1 ={'a':1,'b':2,'c':3,'d':4,'e':5}
dict2 ={'a':5,'b':6,'c':7,'d':8,'e':9}
data={'First':dict1,"second":dict2}
df=pd.DataFrame(data)
df

   First  second
a      1       5
b      2       6
c      3       7
d      4       8
e      5       9

In [12]:
dic3 ={'name':['abc','cdf','ghi'],'address':[123,345,678]}#in this same no of index entity shoul be there

df1=pd.DataFrame(dic3)
df1

  name  address
0  abc      123
1  cdf      345
2  ghi      678

In [13]:
#using series
s1=pd.Series([1,2,3,4,5,6,7,8,9,0])
s2=pd.Series([11,21,31,41,51,61,71,81,91,1000])
s3=pd.Series([12,23,33,43,54,46,74,84,94,70])
data={'First':s1,"second":s2,"third":s3}
df3=pd.DataFrame(data)
df3

   First  second  third
0      1      11     12
1      2      21     23
2      3      31     33
3      4      41     43
4      5      51     54
5      6      61     46
6      7      71     74
7      8      81     84
8      9      91     94
9      0    1000     70

In [ ]:
### Selecting data from the DataFrame
1 loc
2 iloc