In [1]:
import pandas as pd

In [2]:
data = {"Student ID":[416,375,400,211,312],
"Communication":[7,6,5,8,9],
"Placed":["Yes","No","No","Yes","Yes"]}

In [3]:
placement_data  =  pd.DataFrame(data)
placement_data

   Student ID  Communication Placed
0         416              7    Yes
1         375              6     No
2         400              5     No
3         211              8    Yes
4         312              9    Yes

In [4]:
placement_data['Communication'] >6

0     True
1    False
2    False
3     True
4     True
Name: Communication, dtype: bool

In [5]:
st = [311,6]
def placement_prediction(st):
    if st[1]>6:
        return "yes"
    else:
        return "no"

In [6]:
placement_prediction(st)

'no'

In [19]:
placement_prediction([45,3.6])

'no'

### machine learning

1. algorithm model
2. decision tree algorithm
3. available DTC

In [8]:
placement_data['Communication'].shape

(5,)

In [9]:
placement_data[['Communication','Placed']]

   Communication Placed
0              7    Yes
1              6     No
2              5     No
3              8    Yes
4              9    Yes

In [10]:
placement_data[['Communication']]

   Communication
0              7
1              6
2              5
3              8
4              9

In [17]:
import sklearn  ## machine learning algorithm
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(placement_data[['Communication']],placement_data['Placed'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [18]:
dtc.predict(placement_data[["Communication"]])

array(['Yes', 'No', 'No', 'Yes', 'Yes'], dtype=object)

In [20]:
placement_data['Placed']

0    Yes
1     No
2     No
3    Yes
4    Yes
Name: Placed, dtype: object

In [14]:
dtc.predict([[8]])

array(['Yes'], dtype=object)

In [15]:
dtc.predict([[8],[7.5]])

array(['Yes', 'Yes'], dtype=object)

### labeled and unlabeled data
- labeled means alog with placed colunm
- unlabled without placed column

In [23]:
data3 = {"Student ID":[416,375,400,211],
         "Internal Marks":[25,30,18,15],
         "No of Hours Study":[2,1,2,3],
         "Marks":[76.5,87,59,53.5]}
marks_data2 = pd.DataFrame(data3)
marks_data2

   Student ID  Internal Marks  No of Hours Study  Marks
0         416              25                  2   76.5
1         375              30                  1   87.0
2         400              18                  2   59.0
3         211              15                  3   53.5

In [25]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(marks_data2.iloc[:,1:3],marks_data2['Marks'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

lr.coef_

In [26]:
lr.intercept_

10.000000000000007

In [27]:
lr.predict(marks_data2.iloc[:,1:3])

array([76.5, 87. , 59. , 53.5])

In [28]:
marks_data2['Marks']

0    76.5
1    87.0
2    59.0
3    53.5
Name: Marks, dtype: float64

### qstn 1:

In [30]:
def L(x):
    return x[1:] + x[0]
def R(x):
    return x[-1] + x[0:len(x)-1]
n = int(input())
list1 = [input() for i in range(n)]
for x in list1:
    print("YES") if L(x) == R(x) else print("NO")

4
a
aa
abcd
aaaa
YES
YES
NO
YES